h1{
    color: #023047;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-top: 3px;
}
h2{
    color: #023047;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
}
h3{
    margin-top: 1px;
    text-align: left;
    color: #023047;
    font-family: 'Poppins', sans-serif;
}
h4{
    color: #023047;
    font-family: 'Jost', sans-serif;
}
h6{
    color: #023047;
    font-family: 'Jost', sans-serif;
    font-size: 10px;
}

p{
    font-family: 'Jost', sans-serif;
    color: #023047;
}

p.img_logo{
    float: left;
    margin: 10px 0 10px 10px;
}
#map{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#ImaTriste{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#globo{
    width: 19px;
}
#logo{
    width: 40px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-left: 250px;
    margin-top: -90px;
    overflow: visible;
}
li {
    float: left;
}
li a {
    display: block;
    color: #023047;
    padding: 5px 20px;
    text-decoration: none;
}

li a:hover {
    text-decoration-line: underline;
}

.btn_drop {
    color: #023047;
    background: none;
    font-family: 'Jost', sans-serif;
    padding: 0;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 150px;
    margin-top: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #023047;
    font-family: 'Jost', sans-serif;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.btn {
    float: right;
    margin-top: 10px;
    margin-right: -200px;
}
.btn_conectarse {
    font-family: 'Jost', sans-serif;
    color: #023047;
    background-color: #F5F5F5;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.btn_buscar {
    font-family: 'Jost', sans-serif;
    color: #F5F5F5;
    background-color: #219EBC;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}


div.viaje {
    background-color: #219EBC;
    border-radius: 30px;
    padding: 50px;
    margin: 100px 70px 50px 70px;

}
div.preguntas{
    text-align: center;
    margin-top: 100px;
    padding-bottom: 1px;
}
div.noEncuentro {
    text-align: center;
    background-color: #D3EDFC;
    border-radius: 30px;
    padding: 5px;
    margin: 100px 70px 50px 70px;
}

article.dimEquipajeMano,article.transportarAnimal {
    text-align: center;
    background-color: #D3EDFC;
    border-radius: 30px;
    padding: 5px;
    margin: 0 70px 50px 70px;
}

div.conectarse{
    text-align: center;
    background-color: #D3EDFC;
    border-radius: 30px;
    padding: 5px;
    margin: 100px 70px 50px 70px;
}
.btn_continuar{
    font-family: 'Jost', sans-serif;
    color: #F5F5F5;
    background-color: #219EBC;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
div {
    border: double rgba(245, 245, 245, 0);
}